@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

html[data-theme="light"] {
    --text-color: #000000;
    --border-color: rgba(0, 0, 0, 0.08);
    --border-hover-color: rgba(0, 0, 0, 0.38);
    --background-color: #ffffff;
    --dropdown-color: #ffffff;
    --dropbox-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

html[data-theme="dark"] {
    --text-color: #ffffff;
    --border-color: rgba(255, 255, 255, 0.3);
    --border-hover-color: rgba(255, 255, 255, 0.5);
    --background-color: #000000;
    --dropdown-color: #333333;
    --dropbox-shadow: 0px 2px 8px rgba(255, 255, 255, 0.2);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    height: 100%;
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--background-color);
}

.button {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px 35px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    color: white;
    background: #1071ff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.2s;
}

.button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: #1070ffe3;
}

.button:active {
    transform: translateY(-1px);
    background: #0a6cff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
